/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .blog {
    width: 100%;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }
}